extends layout

block content
	h1 Ajax Countries
	form#blog-form(action="/blogSubmission" method="post")
					.form-group
						input.form-control(name="search" type="text" placeholder="Search Here" rows=5) 
					.form-group
						//- input.btn.btn-primary(type="submit")
						button.btn.btn-primary(type="submit") Submit
	button.load-countries Load Countries